@model Class

<h3>Class Schedule</h3>

<table class="table">
    <tr>

        <th>Class Name</th>
        <th>Schedule</th>
        <th>Capacity</th>


    </tr>
    <tr>
        <td>@Model.ClassName</td>
        <td>@Model.Schedule</td>
        <td>@Model.Capacity</td>


    </tr>
</table>