@model GymTrainee

<h3>Gym Trainees</h3>

<table class="table">
    <tr>

        <th>First Name</th>
        <th>Experience Level</th>
        <th>Email</th>
        

    </tr>
    <tr>
        <td>@Model.first_name</td>
        <td>@Model.experience</td>
        <td>@Model.email</td>
   

    </tr>
</table>