@model Product

<h3>Offers</h3>

<table class="table">
    <tr>
        
        <th>Yearly Price</th>
        <th>Monthly Price</th>
        <th>Daily Price</th>
        <th>Tanning</th>
        
    </tr>
    <tr>
        <td>@Model.Yearly_Price</td>
        <td>@Model.Monthly_Price</td>
        <td>@Model.Daily_Price</td>
        <td>@Model.Tanning</td>
        
    </tr>
</table>