
@model IEnumerable<GymTrainee>

<h2>Gym Trainers!</h2>

<table class="table">
    <tr>

        <th>First Name</th>
        <th>Experience Level</th>
        <th>Email</th>
        <
    </tr>
    @foreach (var gymTrainee in Model)
    {
        <tr>

            <td>@gymTrainee.first_name</td>
            <td>@gymTrainee.experience</td>
            <td>@gymTrainee.email</td>


        </tr>
    }

</table>

